<div class="icon-container">
	<a href="/"><img src ="../../assets/images/home-icon.svg"></a>
</div>

<section class="hero">
	<div class="hero--background">
		<div class="fullscreen-bg">
			<video id="video-player" muted autoplay src="../../assets/videos/1.mp4" class="fullscreen-bg__video"></video>
		</div>
		<div class="hero--text">
			<h3 class="hero--title">Are you ready to</h3>
			<h3 class="hero--title typed"></h3>
			<button id="pack" class="btn" type="submit" name="action">
				<div id="pack--handle"></div>
				<span class="hidden">Submit</span>
				<img src ="../../assets/images/home-icon.svg">
			</button>
		</div>
	</div>
</section>

<section id="survey" class="form-container">
	<div class="container">
		{{> Alpaca/survey}}
	</div>
</section>

<section class="image-carousel">
	<div class="image-carousel--container">
		<div><img src="../../assets/images/stock-images/1.jpeg"></div>
		<div><img src="../../assets/images/stock-images/2.jpeg"></div>
		<div><img src="../../assets/images/stock-images/3.jpeg"></div>
		<div><img src="../../assets/images/stock-images/4.jpeg"></div>
		<div><img src="../../assets/images/stock-images/5.jpeg"></div>
		<div><img src="../../assets/images/stock-images/6.jpeg"></div>
		<div><img src="../../assets/images/stock-images/7.jpeg"></div>
		<div><img src="../../assets/images/stock-images/8.jpeg"></div>
		<div><img src="../../assets/images/stock-images/9.jpeg"></div>
		<div><img src="../../assets/images/stock-images/10.jpeg"></div>
	</div>
</section>


<section id="about">
	<div class="container">
		<h2>About Us</h2>
		<p>
			Have you ever dreamed of the perfect vacation? Are you ready to pack a Bag? We want to help. But here’s the catch: we pick the spot! At AlpacaBag, your experience is about the journey, not the destination. Break away from your day-to-day and let us create a journey just for you. How about a picnic on the Champ de Mars underneath the Eiffel Tower? Or would you rather be sipping Mai Tais on the beach? Maybe bungee jumping off the Kawarau Bridge in New Zealand is more your style? Or backpacking in the Australian outback?  Just take our personality survey and tell us a little bit about yourself so we can get to know you better—your destination is just a few clicks away! We’ll match you with the perfect vacation spot, tailor-made for your own unique personality. We’ll even tell you all the local hotspots—places to eat, places to go, and sights to see. Because traveling has enough variables—let us do the hard part. We’re excited to send you off - just sit back, relax, and get ready to AlpacaBag!
		</p>
	</div>

<div class="card-container">
	<div class="row">
		<div class="col s12 m6 l3">
			<div class="card">
		     <div class="card-image" id="michael">
		       <span class="card-title">Michael Bolens</span>
		     </div>
		     <div class="card-content">
		       <p>The Mediator</p>
		     </div>
		     <div class="card-action">
		       <a href="https://github.com/bolensmichael" target="_blank">View Github Account</a>
		     </div>
		   </div>
		</div>

	<div class="col s12 m6 l3">
			<div class="card">
		     <div class="card-image" id="maria">
		       <span class="card-title">Maria Stenquist</span>
		     </div>
		     <div class="card-content">
		       <p>The Diplomat</p>
		     </div>
		     <div class="card-action">
		       <a href="https://github.com/mariastenquist" target="_blank">View Github Account</a>
		     </div>
		   </div>
		</div>

		<div class="col s12 m6 l3">
			<div class="card">
		     <div class="card-image" id="scott">
		       <span class="card-title">Scott Thomas</span>
		     </div>
		     <div class="card-content">
		       <p>The Entertainer</p>
		     </div>
		     <div class="card-action">
		       <a href="https://github.com/smthom05" target="_blank">View Github Account</a>
		     </div>
		   </div>
		</div>

		<div class="col s12 m6 l3">
			<div class="card">
				 <div class="card-image" id="jojo">
					 <span class="card-title">JoJo Zheng</span>
				 </div>
				 <div class="card-content">
					 <p>The Advocate</p>
				 </div>
				 <div class="card-action">
					 <a href="https://github.com/jojoxmz" target="_blank">View Github Account</a>
				 </div>
			 </div>
			</div>
		</div>
	</div>
</section>
