<div class="icon-container">
	<a href="/"><img src ="../../assets/images/home-icon.svg"></a>
</div>

<section class="hero">
	<div class="hero--background">
		<div class="fullscreen-bg">
			<video id="video-player" muted autoplay src="../../assets/videos/1.mp4" class="fullscreen-bg__video">
			</video>
		</div>
		<div class="hero--text">
			<h3>Ready to pack your bag?<h3>
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
		</div>
	</div>
</section>

<section class="image-carousel">
	<div class="image-carousel--container">
		<div><img src="../../assets/images/stock-images/1.jpeg"></div>
		<div><img src="../../assets/images/stock-images/2.jpeg"></div>
		<div><img src="../../assets/images/stock-images/3.jpeg"></div>
		<div><img src="../../assets/images/stock-images/4.jpeg"></div>
		<div><img src="../../assets/images/stock-images/5.jpeg"></div>
		<div><img src="../../assets/images/stock-images/6.jpeg"></div>
		<div><img src="../../assets/images/stock-images/7.jpeg"></div>
		<div><img src="../../assets/images/stock-images/8.jpeg"></div>
		<div><img src="../../assets/images/stock-images/9.jpeg"></div>
		<div><img src="../../assets/images/stock-images/10.jpeg"></div>
	</div>
</section>


<section id="about">
	<div class="container">
		<h2>About Us</h2>
			<p>
			Spicy jalapeno bacon ipsum dolor amet consectetur pancetta deserunt, fatback aliquip ex quis porchetta eiusmod in. Minim cow turducken exercitation. Swine short loin chicken in nulla officia. Shoulder do brisket, tenderloin duis ham hock kielbasa tail bacon labore dolor landjaeger. Chicken in jerky in corned beef short ribs excepteur. Prosciutto laborum landjaeger consectetur pastrami meatball.
			</p>
			<p>
			Ut laboris duis, est lorem non id et. Turkey tenderloin salami consectetur dolore filet mignon culpa. Beef ribs turkey est, shankle laborum chuck incididunt. Ut in lorem fatback ball tip doner. Dolore aliqua anim, cillum laboris cupim et nulla. Ham pork shank pastrami pancetta, ball tip tri-tip anim kevin nulla fatback. Culpa consectetur quis t-bone drumstick short ribs.
			</p>
			<p>
			Salami veniam dolore meatball culpa, anim occaecat prosciutto venison ipsum swine nostrud lorem hamburger pork. Ball tip strip steak swine tongue ut beef culpa pork. Ut reprehenderit eu minim anim hamburger drumstick meatloaf brisket alcatra dolor rump esse non. Landjaeger chicken qui deserunt swine beef ribs.
			</p>
			<p>
			Laborum exercitation strip steak porchetta, id ea nisi deserunt ullamco filet mignon. Mollit turkey pork belly proident ut reprehenderit sausage picanha andouille kevin aute turducken veniam. Porchetta ut chuck ad pork landjaeger. Pork chop cupidatat sed commodo magna sunt, ham ball tip turducken leberkas picanha porchetta.
			</p>
			<p>
			Tenderloin salami andouille dolore culpa velit venison anim pancetta ut drumstick tongue. Voluptate fatback capicola ullamco, irure ea shoulder eu commodo ut. Pancetta lorem kielbasa laborum sint ut. Dolore brisket burgdoggen voluptate, porchetta ribeye et labore kielbasa ipsum. Fatback ullamco fugiat ground round veniam strip steak pastrami et bresaola. Ut meatloaf laborum ut elit. Irure beef ribs qui, laboris lorem spare ribs mollit tri-tip bacon chicken occaecat ball tip.
			</p>
	</div>

<div class="card-container">
	<div class="row">
		<div class="col s12 m6 l3">
			<div class="card">
		     <div class="card-image" id="michael">
		       <span class="card-title">Michael Bolen</span>
		     </div>
		     <div class="card-content">
		       <p>I am a very simple card. I am good at containing small bits of information.
		       I am convenient because I require little markup to use effectively.</p>
		     </div>
		     <div class="card-action">
		       <a href="https://github.com/bolensmichael" target="_blank">View Git Hub Account</a>
		     </div>
		   </div>
		</div>

<div class="col s12 m6 l3">
<div class="card">
     <div class="card-image" id="maria">
       <span class="card-title">Maria Stenquist</span>
     </div>
     <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information.
       I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
       <a href="https://github.com/mariastenquist" target="_blank">View Git Hub Account</a>
     </div>
   </div>
</div>

<div class="col s12 m6 l3">
<div class="card">
     <div class="card-image" id="scott">
       <span class="card-title">Scott Thomas</span>
     </div>
     <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information.
       I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
       <a href="https://github.com/smthom05" target="_blank">View Git Hub Account</a>
     </div>
   </div>
</div>

<div class="col s12 m6 l3">
<div class="card">
	 <div class="card-image" id="jojo">
		 <span class="card-title">JoJo Zheng</span>
	 </div>
	 <div class="card-content">
		 <p>I am a very simple card. I am good at containing small bits of information.
		 I am convenient because I require little markup to use effectively.</p>
	 </div>
	 <div class="card-action">
		 <a href="https://github.com/jojoxmz" target="_blank">View Git Hub Account</a>
	 </div>
 </div>
</div>

</div>
</div>
</section>

<section>
<ol>
      {{> Alpaca/survey}}
</ol>
</section>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
