html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font size: 5rem;
}
h2 {
  font-size: 4rem;
  padding-top: 1rem;
}
h3 {
  font-size: 3.5rem;
}
p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}
label {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.hidden {
  visibility: hidden;
}

input[type=range]+.thumb.active .value {
  margin-left: -1px;
  margin-top: 0px;
}

.icon-container {
  position: fixed;
  height: 65px;
  width: 65px;
  top: 1.5%;
  left: 1%;
  z-index: 150;

  transition: transform .35s ease-in-out;
}
.icon-container:hover {
  transform: scale(1.1);
}

section {
  margin-bottom: 3em;
  background-color: #fff;
  position: relative;
}

img {
  height: auto;
  width: 100%;
}

.hero {
  height: 100vh;
  background-color: transparent;
  margin-bottom: 0em;
}

.hero--background {
  position: relative;
  background-color: rgba(255,255,255, 0.3);
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero--text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.hero--title {
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}
.hero--title.typed {
  height: 57px;
}

button.btn {
  display: block;
  margin: 0 auto;
}

.image-carousel--container{
  height: 100vh;
  z-index: 50;
  overflow: hidden;
}

 .slick-next, .slick-prev{
  z-index: 10;
  top:50%;
}

.slick-next{
  right: 25px;
}

.slick-prev{
  left: 25px;
}

#about {

}
#about h2 {
  font-family: 'Farsan', cursive;
}

#destination .card-image {
  padding-top: 0;
}

.form-container {
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 0em;
  margin-top: -15px;
  transition: max-height .35s ease-in-out;
}
.form-container.active {
  max-height: 10000px;
  opacity: 1;
  visibility: visible;
  margin-top: 3em;
  margin-bottom: 3em;
}
.card-container {
  margin: 0 5%;
  padding: 3em 0;
}

.page-footer {
  padding-top: 0;
  background: #26a69a;
}

.row:only-of-type {
  margin-bottom: 0;
}

.card-image {
  padding-top: 80%;
  -webkit-box-shadow: inset 0px -50px 0.5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -50px 0.5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -50px 0.5px 0px rgba(50, 50, 50, 0.75);
}
#pack--handle {
  display: block;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  padding: 5px 20px;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color:black;
  border-radius: 3px;
}
#pack {
  position: relative;
  overflow: visible;
  margin-top: 30px;
  height: 150px;
  border-radius: 10px;
}
#pack img {
  width: 75%;
  height: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pack::before,
#pack::after {
  position: absolute;
  bottom: -16px;
  content: ' ';
  height: 15px;
  width: 15px;
  border: 5px solid black;
  border-radius: 50%;
}
/* Left wheel */
#pack::before {
  left: 20px;
}
/* Right wheel */
#pack::after {
  right: 20px;
}

#michael.card-image {
  background-image: url("../../assets/images/michael.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#scott.card-image {
  background-image: url("../../assets/images/scott1.jpg");
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: 50% 45%;
}

#maria.card-image {
  background-image: url("../../assets/images/maria.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#jojo.card-image {
  background-image: url("../../assets/images/jojo.jpg");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 85% 0%;
}

.card:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
}

.card {
  transition: box-shadow .35s ease-in-out;
}

.card .card-image .card-title {
  padding: 10px 20px;
}

.fullscreen-bg {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.75rem;
  }
  section {
    min-height: initial;
  }
  .image-carousel--container {
    height: auto;
  }
}

@media (max-width: 767px) {
  .hero--title.typed {
    height: 42px;
  }
  .fullscreen-bg {
    background: url('../../assets/images/stock-images/main.jpeg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (max-width: 400px) {
  .hero--title.typed {
    height: 84px;
  }
}
