<form action="/destination">
  <div class="input-field">
    <input id="name" type="text" class="validate">
    <label for="name">Name</label>
  </div>
  <div class="input-field">
    <input id="email" type="text" class="validate">
    <label for="email">Email</label>
  </div>

  <p class="range-field">
    <label>Warm-blooded or cold-blooded?</label>
    <input type="range" id="Q1" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Hostels or Five-Star-Hotels?</label>
    <input type="range" id="Q2" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Couch Potato or Indiana Jones?</label>
    <input type="range" id="Q3" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Fast-food or Fine Dining?</label>
    <input type="range" id="Q4" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Bar Crawl or Museums?</label>
    <input type="range" id="Q5" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Lone Wolf or Wolf Pack?</label>
    <input type="range" id="Q6" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Ski Bum or Beach Bum?</label>
    <input type="range" id="Q7" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Early Bird or Night Owl?</label>
    <input type="range" id="Q8" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Ballpark or Theme Park?</label>
    <input type="range" id="Q9" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Sea Level or Mile High?</label>
    <input type="range" id="Q10" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Cat or Dog?</label>
    <input type="range" id="Q11" min="1" max="5" />
  </p>

  <button class="btn waves-effect waves-light" name="action" type="submit">
    Submit
  </button>
</form>
