{{questions}}
<li>
  Warm blooded or cold blooded?
</li>
<li>
  Hostile or five-star?
</li>
<li>
  Couch potato or Indiana Jones?
</li>
<li>
  Fast food or fine dining?
</li>
<li>
  Bar crawl or museum?
</li>
<li>
  Lone wolf or wolf pack?
</li>
<li>
  Ski bum or beach bum?
</li>
<li>
  Early or night owl?
</li>
<li>
  Ballpark to theme park?
</li>
<li>
  Empire State Building or Grand Canyon?
</li>
<li>
  Cat or Dog?
</li>
