<form action="/destination">
  <div class="input-field">
    <input id="name" type="text" class="validate">
    <label for="name">Name</label>
  </div>
  <div class="input-field">
    <input id="email" type="text" class="validate">
    <label for="email">Email</label>
  </div>

  <p class="range-field">
    <label>Warm blooded or cold blooded?</label>
    <input type="range" id="Q1" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Hostile or five-star?</label>
    <input type="range" id="Q2" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Couch potato or Indiana Jones?</label>
    <input type="range" id="Q3" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Fast food or fine dining?</label>
    <input type="range" id="Q4" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Bar crawl or museum?</label>
    <input type="range" id="Q5" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Lone wolf or wolf pack?</label>
    <input type="range" id="Q6" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Ski bum or beach bum?</label>
    <input type="range" id="Q7" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Early or night owl?</label>
    <input type="range" id="Q8" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Ballpark to theme park?</label>
    <input type="range" id="Q9" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Empire State Building or Grand Canyon?</label>
    <input type="range" id="Q10" min="1" max="5" />
  </p>

  <p class="range-field">
    <label>Cat or Dog?</label>
    <input type="range" id="Q11" min="1" max="5" />
  </p>

  <button class="btn waves-effect waves-light" name="action" type="submit">
    Submit
  </button>
</form>
